<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>CLUB ALIMENTATION ET PROTECTION D'ENVIRONNEMENT</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/uploads/favicon.png" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
       
       
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/styles.css" rel="stylesheet" />
        

        
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top"><img src="/uploads/favicon.png" alt="..." /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#services">A propos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Activites</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">Historique</a></li>
                        <li class="nav-item"><a class="nav-link" href="#team">Notre bureau</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Bienvenue Dans Votre Club!</div>
                <div class="masthead-heading text-uppercase">Ravi de vous rencontrer</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#portfolio">Dis m'en Plus</a>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">A propos</h2>
                    <h3 class="section-subheading text-muted">Club alimentation et protection d'environnement</h3>
                    <p>Ce club est considéré comme l'un des plus anciens clubs de l'Ecole Supérieure de Technologie, car il s'intéresse aux aspects naturels et industriels, il joue également un rôle majeur dans la formation des étudiants et leur donne un esprit sur les caractéristiques et les priorités du domaine du génie bio-industriel.</p>
                </div>
                <!-- <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">E-Commerce</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                -->
                        <!-- <h4 class="my-3">Web Security</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Activites</h2>
                    <h3 class="section-subheading text-muted">Notre Activites Pendant Cette Annee.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/uploads/307704580_658453985484117_2636591991531365847_n.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Creation Du Club</div>
                                <div class="portfolio-caption-subheading text-muted">Notre Debut Etait La</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/uploads/events/bann img/c2349b2d-fdcd-4e4c-b9ce-8b0da2b95089.jpeg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">FROM & TO GBI</div>
                                <div class="portfolio-caption-subheading text-muted">Conference</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- portfolio item 3-->
                        <!-- <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/img/portfolio/3.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Finish</div>
                                <div class="portfolio-caption-subheading text-muted">Identity</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0"> -->
                        <!-- portfolio item 4-->
                        <!-- <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/img/portfolio/4.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Lines</div>
                                <div class="portfolio-caption-subheading text-muted">Branding</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0"> -->
                        <!-- portfolio item 5-->
                        <!-- <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/img/portfolio/5.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Southwest</div>
                                <div class="portfolio-caption-subheading text-muted">Website Design</div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-4 col-sm-6"> -->
                        <!-- portfolio item 6-->
                        <!-- <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/img/portfolio/6.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Window</div>
                                <div class="portfolio-caption-subheading text-muted">Photography</div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Historique</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/img/about/1.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>18/10/2018</h4>
                                <h4 class="subheading"></h4>Creation du club</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Creation du club APE par des etudiants en filiere GBI au sein d'ecole superieur de technologie Agadir</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/img/about/2.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>15/12/2018</h4>
                                <h4 class="subheading">Premier evenement</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">
                                <ul>
                                    <li>La presentation du club</li>
                                    <li>Conference:Presentation sur un theme dans l'environnement ou l'alimentation</li>
                                </ul>
                            </p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/img/about/3.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>03/2020</h4>
                                <h4 class="subheading">Arret des activites a cause de COVID-19</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted"></p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/img/about/4.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2022/2023</h4>
                                <h4 class="subheading">Recreation du club</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Le coordinateur du club a présenté au début de la réunion la structure du club et comment élire ses structures, parmi eux figurent l’activateur de club, l’assistant et les coordinateurs de malédictions fonctionnels.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Soyez Une Partie
                                <br />
                                Dans Notre
                                <br />
                                Histoire!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Team-->
    
                <div class="row">
                     <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Notre Agreable Equipe</h2>
                    <h3 class="section-subheading text-muted">Cellule Alimentation</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="/img/team/assma.jpeg" alt="..." />
                            <h4>Assma Azaou</h4>
                            <p class="text-muted">Presidente</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="/img/team/youssef.jpeg" alt="..." />
                            <h4>Youssef Benkhizou</h4>
                            <p class="text-muted">Vice President</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="/img/team/2.jpg" alt="..." />
                            <h4>Hassna Ait-Hammou</h4>
                            <p class="text-muted">Secretaire</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="/img/team/imane.jpeg" alt="..." />
                            <h4>Imane Lkrm</h4>
                            <p class="text-muted">Chef de Communication</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="/img/team/hamza.jpeg" alt="..." />
                            <h4>Hamza Atarchi</h4>
                            <p class="text-muted">Chef RH</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="/img/team/younes.jpeg" alt="..." />
                            <h4>Younes Soibi</h4>
                            <p class="text-muted">La caissiere</p>
                         </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="/img/team/drake.jpeg" alt="..." />
                            <h4>Mohamed Ouhammouche </h4>
                            <p class="text-muted">Video Editeur</p>
                          </div>
                    </div><div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="/img/team/itachix.jpeg" alt="..." />
                            <h4>Abdelkabir Saidi </h4>
                            <p class="text-muted">Designer</p>
                          </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="/img/team/yassine.jpeg" alt="..." />
                            <h4>Yassine Oulgod </h4>
                            <p class="text-muted">Social Media Manager</p>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div>
                </div>
            </div>



             <div class="text-center">
                <h3 class="section-subheading text-muted">Cellule Environnement</h3>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/img/team/ENV/med.jpeg" alt="..." />
                        <h4>Mohamed</h4>
                        <p class="text-muted">Presidente</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/img/team/ENV/abdrh.jpeg" alt="..." />
                        <h4>Abderahman Bahdda</h4>
                        <p class="text-muted">Vice President</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/img/team/ENV/ziad.jpeg" alt="..." />
                        <h4>Ziad Larif</h4>
                        <p class="text-muted">Chef d'evenements 1</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/img/team/ENV/mouad.jpeg" alt="..." />
                        <h4>Mouad Boujemri</h4>
                        <p class="text-muted">Chef d'evenement 2</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/img/team/ENV/khay.jpeg" alt="..." />
                        <h4>Mohamed Khay </h4>
                        <p class="text-muted">La caissiere</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/img/team/ENV/soukaina.jpeg" alt="..." />
                        <h4>Soukaina Sahel</h4>
                        <p class="text-muted">Chef de communication</p>
                     </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/img/team/ENV/5589e0b8-5769-4b21-8d94-9fc3b3e83793.jpeg" alt="..." />
                        <h4></h4>
                        <p class="text-muted">Secretaire</p>
                      </div>
                </div><div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/img/team/ENV/b7acc5f4-a06a-4801-b26d-fd752e2acc81.jpeg" alt="..." />
                        <h4> </h4>
                        <p class="text-muted">Membre assistant</p>
                      </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/img/team/ENV/bd0cf067-5296-4f65-9d35-68a9703d2f9f.jpeg" alt="..." />
                        <h4></h4>
                        <p class="text-muted">Membra assistant</p>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">.......</p></div> 
            </div>
        </div>
        </section>
                  
        <!-- Clients-->
        <!-- <div class="py-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/img/logos/microsoft.svg" alt="..." aria-label="Microsoft Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/img/logos/google.svg" alt="..." aria-label="Google Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/img/logos/facebook.svg" alt="..." aria-label="Facebook Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/img/logos/ibm.svg" alt="..." aria-label="IBM Logo" /></a>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Contact-->
        <section class="page-section" id="contact" >
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contact </h2>
                    <h3 class="section-subheading text-muted">Cette article n'est pas disponible pour le moument.</h3>
                </div>
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form onsubmit="sendEmail(); reset(); return false" id="contactForm" data-sb-form-api-token="API_TOKEN"  >
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- Name input-->
                                <input class="form-control" id="name" type="text" placeholder="Votre Nom *" data-sb-validations="required" />
                                <!-- <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div> -->
                            </div>
                            <div class="form-group">
                                <!-- Email address input-->
                                <input class="form-control" id="email" type="email" placeholder=" Email *" data-sb-validations="required,email" />
                                <!-- <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div> -->
                            </div>
                            <div class="form-group mb-md-0">
                                <!-- Phone number input-->
                                <input class="form-control" id="phone" type="tel" placeholder="Telephone *" data-sb-validations="required" />
                                <!-- <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-textarea mb-md-0">
                                <!-- Message input-->
                                <textarea class="form-control" id="message" placeholder="Votre Message *" data-sb-validations="required"></textarea>
                                <!-- <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div> -->
                            </div>
                        </div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <!-- <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center text-white mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div> -->
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <!-- <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div> -->
                    <!-- Submit Button-->
                    <!-- <button  type="submit">Envoyer</button> -->
                    
                <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Envoyer</button></div>
                
                
            </form>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Created by Y19 2022 <br>Club Alimenntation Et Protection d'Environnement</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="https://web.facebook.com/Club-alimentation-et-protection-denvironnement-100949532792565" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/club.ape/?hl=fr" aria-label="instagram"><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <p><div>Contact info: club.ape2023@gmail.com</div></p>
                        <!-- <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                         -->
                    </div>
                </div>
            </div>
        </footer>
        <!-- portfolio Modals-->
        <!-- portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Creation Du Club</h2>
                                    <p class="item-intro text-muted">Notre Debut Etait La.</p>
                                    <img class="img-fluid d-block mx-auto" src="/uploads/favicon.png" alt="..." />
                                    <p>Tenu le (22 /09 /2022) le rassemblement général fondateur du club APE (Alimentation et protection de l’environnement), en présence des participants du club.
                                         Le coordinateur du club a présenté au début de la réunion la structure du club et comment élire ses structures, parmi eux figurent l’activateur de club, l’assistant et les coordinateurs de malédictions fonctionnels.
                                        Aussi, au cours de cette rencontre, les assistants des coordonnateurs des commissions fonctionnelles ont été nommés et les groupes de travail ont été formés et leurs coordonnateurs identifiés.
                                        Tous ces processus se sont déroulés dans une atmosphère éducative démocratique dominée par le sens des responsabilités.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Date:</strong>
                                            22/09/22
                                        </li>
                                        <li>
                                            <strong>Lieu:</strong>
                                            Ecole Superieure De Technologie Agadir
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Annuler
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">FROM <br> & <br> TO GBI</h2>
                                    <p class="item-intro text-muted">Orientation sur les perspectives de la filière Génie Bio-industriel </p>
                                    <img class="img-fluid d-block mx-auto" src="/uploads/events/bann img/ac1c3391-bc06-465b-a4d9-7ae16501f872.jpeg
                                    " alt="..." />
<p>Rapport de la conférence de 21 octobre 2022, à l'Ecole Supérieure de Technologie d'Agadir, sous la tutelle du club « APE ».
    Thème de la rencontre : "Séminaire d'orientation sur les perspectives de la filière Génie Bio-industriel".
    A l'Ecole Supérieure de Technologie d'Agadir, un séminaire d'orientation s'est tenu sous l'encadrement du club « APE », et le thème de la rencontre était « Perspectives post-diplôme en génie bio-industriel ». Après avoir reçu les invités et les participants, et après le mot de bienvenue de l' ancadrant du club "Fouad ACHEMCHEM" et de son président "Mohamed BELAHCEN", chacun des étudiants diplômés de l'Ecole Supérieure de Technologie a commencé à raconter son parcours académique et professionnel, et les diverses expériences qu'ils ont vécues au cours des années d'études et de travail. Les étudiants présents sont également intervenus en posant une série de questions aux diplômés invités de l'école, ce qui a conduit à construire un pont de communication entre eux, dans lequel ils ont partagé leurs expériences et leurs projets futurs.
   À la fin de la réunion, le président du club a souligné les objectifs les plus importants du club et a invité les étudiants à se joindre à lui, et a levé la réunion à sept heures du soir.</p>                                    <ul class="list-inline">
                                        <li>
                                            <strong>Date:</strong>
                                            21/10/2022
                                        </li>
                                        <li>
                                            <strong>Lieu:</strong>
                                            Amphi 2 - Ecole Supérieure de Technologie d'Agadir
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Annuler
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- portfolio item 3 modal popup-->
        <!-- <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body"> -->
                                    <!-- Project details-->
                                    <!-- <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="/img/portfolio/3.jpg" alt="..." />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Finish
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Identity
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- portfolio item 4 modal popup-->
        <!-- <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    Project details -->
                                    <!-- <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="/img/portfolio/4.jpg" alt="..." />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Lines
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Branding
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- portfolio item 5 modal popup-->
        <!-- <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    Project details -->
                                    <!-- <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="/img/portfolio/5.jpg" alt="..." />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Southwest
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Website Design
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- portfolio item 6 modal popup-->
        <!-- <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body"> -->
                                    <!-- Project details-->
                                    <!-- <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="/img/portfolio/6.jpg" alt="..." />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Window
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Photography
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Bootstrap core JS-->
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="https://smtpjs.com/v3/smtp.js"></script>
        <script>
            function sendEmail(){
                Email.send({
    Host : "smtp.gmail.com",
    Username : "",
    Password : "clubape23",
    To : 'club.ape2023@gmail.com',
    From : document.getElementById("email").value,
    Subject : "New Contact",
    Body : "Name:" + document.getElementById("name").value 
    +"<br> Email:" + document.getElementById("email").value 
    +"<br> Telephone:" + document.getElementById("phone").value
    +"<br> Message:" + document.getElementById("message").value 
 

}).then(
  message => alert("Votre message a ete envoye avec succes")
);
            }
        </script>
        <script src="/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
